@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root{
    --rosa: #fdedf2;
    --rosaEscuro: #a74967;
    --roxo: #41337a;
    --verdeClaro:#91D9E2 ;
    --verde:#43919c;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-family: 'Comfortaa'; 
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background-color: var(--rosa);
}

/* começo da header */
header{
    position: sticky;
    top: 0; left: 0;right: 0;
    background: var(--roxo);
    padding: 1rem 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    display: flex;
    align-items: center;
    font-size:  3.7rem;
    color: var(--verdeClaro);
    font-family: 'Sacramento';
}

.navbar{
    display: flex;
    list-style: none;
    align-items:center ;
    justify-content:space-around;
    cursor: pointer;
}

.navbar li a{
    font-size: 2rem;
    font-family: 'Comfortaa';
    text-decoration: none;
    color: var(--verdeClaro);
    margin-left: 2rem;
}

.navbar button{
    border: none;
    font-size: 2rem;
    background-color: var(--roxo);
    color: var(--verdeClaro);
}

header .logo img{
    width: 10%;
    cursor: pointer;
}

header .navbar a:hover{
    color: var(--rosaEscuro) ;
}


.navbar{
    display: flex;
    list-style: none;
    align-items:center ;
    justify-content:space-around;
    overflow: hidden;
    cursor: pointer;
}

.navbar li a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--verdeClaro);
    margin-left: 1rem;
    float: left;
    text-align: center;
}

.navbar button{
    border: none;
    font-size: 2rem;
    background-color: var(--roxo);
    color: var(--verdeClaro);
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
   color: var(--rosaEscuro);
   
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--roxo);
    min-width: 10rem;
    z-index: 1;
    flex-direction: column;
  }
  
  .dropdown-content a {
    float: none;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    color: var(--rosaEscuro);
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }

 /* fim da header */

.container{
    width: 100%;
    display:flex;
    justify-content:center;
    padding: 1.5rem;
    margin-top: 2rem;
}


.caixa{
    display: flex;
    justify-content:space-between;
    border-radius: 5px;
    box-shadow: 0 .5rem 5rem rgba(65, 51, 122, .80);
}

.caixa img{
    height: 100%;
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fundo{  
    width:50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:var(--roxo);
    display: flex;
    flex-direction:column;
    align-items: center;
}
.titulo{
    font-family: 'Comfortaa';
    font-size: 3rem;
    color: var(--verdeClaro);
    padding: 2rem;    
}

.form{
    height: 70%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border-radius :5px ;
    border-color: var(--verdeClaro);
    border-style: dashed;
}


.dados{
    font-family: 'Comfortaa';
    font-size: 3rem;
    color: var(--verdeClaro);
    margin-top:2.5rem;
}

.form input{
    width: auto;
    padding: 1rem;
    font-family: 'Comfortaa';
    font-size: 2rem;
    border-radius: 5px;
    text-align:center;
}
.form button{
    border-radius: 8px;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--rosaEscuro);
    font-family: 'Comfortaa';
    font-size: 2rem;
    color: var(--rosa);
    cursor: pointer;
}

.form button:hover{
    background-color: var(--verdeClaro);
    color: var(--rosaEscuro);
    cursor: pointer;
}

.caixa .conta{
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    color: var(--verdeClaro);
    margin-top: 1rem ;
}

.caixa a{
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    color: var(--verdeClaro);
}

.caixa a:hover{
    color: var(--rosaEscuro);
}

#divMensagem{
    display:none;
    height: fit-content;
    width: fit-content;
    font-family: 'Comfortaa';
    font-size: 2rem;
    margin-top: 1rem;
    color:rgb(218, 53, 94);
}

.divAguardar{
    display: none;
    width: 10rem;
}

 @media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}
