@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


:root{
    --rosa: #fdedf2;
    --rosaEscuro: #a74967;
    --roxo: #41337a;
    --verdeClaro:#91D9E2 ;
    --verde:#43919c;
    --roxoClaro:#9C95DC;
}

::selection {
    background: var(--roxoClaro);
  }


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-family:'Comfortaa' ;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background-color: var(--rosa);
}

/* começo da header */
header{
    position: sticky;
    z-index: 1;
    top: 0; left: 0;right: 0;
    background: var(--roxo);
    padding: 1rem 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    display: flex;
    align-items: center;
    font-size:  4rem;
    color: var(--verdeClaro);
    font-family: 'Sacramento';
}
.divisoria{
    width: 100%;
    height: 1.2rem;
    border-top: var(--roxoClaro) dashed;
       
}

.navbar{
    display: flex;
    list-style: none;
    align-items:center ;
    justify-content:space-around;
    overflow: hidden;
    cursor: pointer;
}

.navbar li a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--verdeClaro);
    margin-left: 1.8rem;
    float: left;
    text-align: center;
}

.navbar button{
    border: none;
    font-size: 2rem;
    background-color: var(--roxo);
    color: var(--verdeClaro);
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
   color: var(--rosaEscuro);
   
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: fit-content;
    background-color: var(--roxo);
    z-index: 1;
    flex-direction: column;

  }
  
  .dropdown-content a {
    margin-right: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: var(--rosaEscuro);
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }

header .logo img{
    width: 12%;
    cursor: pointer;
}

header .navbar a:hover{
    color: var(--rosaEscuro) ;
}
 /* fim da header */

 .titulos{
    font-family: 'Sacramento';
    display: flex;
    justify-content: center;
    color: var( --rosaEscuro);
    font-size: 6rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.introducao p{
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
    padding: 1rem;
}

.introducao{
    text-align: center;
    display: flex;
    justify-content:center;
    padding: 2rem;
}

 .banner img{
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8 );
    
 }
.banner .texto{
    position: absolute;
    top: 40%;
    margin-left:2rem ;
    color: var(--roxo);
    font-size: 5rem;
    
    background-color: rgba(145,217,226, .8);
    border-radius: 60px;
    padding: 2rem;

}

.banner .texto .destaqueBanner{
    color: var(--rosaEscuro);
}

/*fim do banner */

.container{
    width: 100%; 
    height: fit-content;
    display: flex;
    flex-direction: column;
}


/*Começo da parte conheca*/
#conheca{
    width: 100%;
    height: fit-content;
    display: flex;
}
.textoConheca{
    width: 50%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    border-top-right-radius : 8px;
    border-bottom-right-radius : 8px;
    align-items: center;
    justify-content: center;
    background-color:rgba(145,217,226, .8);
}

.linhaConheca{
    width: 90% ;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: var(--rosaEscuro);
}

.textoConheca p{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    color: #0c0722;
}
.imgConheca{
    padding: 5rem 10rem;
    width: 50%;
}
.imgConheca img{
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 .5rem 1rem  rgba(65, 51, 122, .95) ;
}

.listaTexto{
    font-size: 2rem;
}

#grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.miniDashboard{
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    width: 80%;
    background-color: #41337a;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);

}

.containerGrafico{
    display: flex;
    justify-content: left;
    width: 50rem;
    padding: 2rem;

}
            
.sideCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    font-size: 2rem;
    color: white;
}
.sideCardsItem{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.5rem;
    display: flex;
    width: 40rem;
    height: fit-content;
    justify-content: center;
    background-color: var(--verdeClaro);
    font-size: 3rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
}



/*Começo da parte fazer*/

.fazer{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardsExemplos{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoCards{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

.exemplo1{
    width: 49%;
    padding: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--roxoClaro);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
}

.exemplo1 img{
    border-radius: 8px;
}

.exemplo2{
    width: 50%;
    margin-left: 50%;
    margin-top: -16%;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color:var(--verdeClaro);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
}

.exemplo2 img{
    border-radius: 8px;
}

.exemplo3{
    width: 49%;
    margin-top: -11%;
    padding: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color:var(--rosaEscuro);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    
}

.exemplo3 img{
    border-radius: 8px;
}

.tituloCards{
    font-family: 'Sacramento';
    display: flex;
    justify-content: center;
    color: var( --roxo);
    font-size: 4.5rem;
    font-style: italic;
}

.containerCards{
    width: 100%;
    display: flex;
    align-items: center;
}

.containerCards img{
width: 50%;
}
/* Fim da seção fazer */

#diferenca{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.containerDiferenca{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#diferenca img{
    width: 70rem;
}


.diferencaTexto{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    
}

.diferencaTexto img{
    width: 2rem;
}

.listaTexto{
    width: 100;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    gap:1rem ;
    margin-bottom: 2rem;
}

.listaTexto .p1 {
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color:#f590b0;
    transition: transform 0.3s ease;
}
.listaTexto .p1:hover{
    transform: scale(1.1);
}

.listaTexto .p2 {
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color:var(--rosaEscuro);
    transition: transform 0.3s ease;
}
.listaTexto .p2:hover{
    transform: scale(1.1);
}

.listaTexto .p3 {
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color: var(--roxo);
    transition: transform 0.3s ease;
}
.listaTexto .p3:hover{
    transform: scale(1.1);
}

.listaTexto .p4 {
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color: var(--roxoClaro);
    transition: transform 0.3s ease;
}
.listaTexto .p4:hover{
    transform: scale(1.1);
}

.listaTexto .p5 {
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
    background-color: var(--verde);
    transition: transform 0.3s ease;
}
.listaTexto .p5:hover{
    transform: scale(1.1);
}




/* sobre mim */
.containerConteudo{
    width: 100%;
    height: fit-content;
}
.sobremim{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}

.sobremimTexto{
    font-size: 2rem;
}

 .wrap {padding: 2rem;
   float: right; 
   margin: 5px;
   margin-bottom: 2rem;
   background-color: white;
  }

  .wrap img{
    width:50rem;
  }

/* footer */
footer {
    width: 100%;
    background-color:var(--roxo);
    padding: 2rem;
    
  }
  
  .containerFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
  }
  

  





@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}


