@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


:root{
    --rosa: #fdedf2;
    --rosaEscuro: #a74967;
    --roxo: #41337a;
    --verdeClaro:#91D9E2 ;
    --verde:#43919c;
    --roxoClaro:#9C95DC;
}

::selection {
    background: var(--roxoClaro);
  }


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .1s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background-color: var(--rosa);
    display: flex;
    font-family: 'Comfortaa';
}

#containerProjetoArea{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

.contador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-left: 12%;
   height: 100%;
   width: 50%;
   gap: 2rem;
}

.carreiraEPonto{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1.5rem;
    width: 30rem;
    height: fit-content;
   background-color: var(--rosaEscuro); 
   font-size: 2rem;
   border-radius: 8px;
   box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
}

.carreiraEPonto input{
    text-align: center;
    width: 20rem;
    border-radius: 8px;
    font-size: 2rem;
}

.carreiraEPonto button{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: var(--roxo);
    cursor: pointer;
  }
  
  .carreiraEPonto button:hover{
    background-color: var(--verde);
    color: white;
  }

  #carreiraEPontoAtual{
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1.5rem;
    width: 30rem;
    height: fit-content;
   background-color: var(--verdeClaro); 
   font-size: 2rem;
   border-radius: 8px;
   box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
}

#carreiraEPontoAtual button{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: var(--roxoClaro);
    cursor: pointer;
  }

#carreiraEPontoAtual button:hover{
    background-color: var(--verde);
    color: white;
  }

.botaoContador{
    display: flex;
    column-gap: 3rem;
}

#divMensagem{
    font-size: 2.5rem;
}

.btnSalvar{
    font-family: 'comfortaa';
    width: fit-content;
    font-size: 2rem;
    padding: 2rem;
    border-radius :8px ;
    cursor: pointer;
    background-color: #43919c;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);
}
.btnSalvar:hover{
    background-color: var(--rosaEscuro);
    color: white;
  }

.receitaProjeto{
    width: 50%;
    height: 100%;
}

.cadastrarReceita{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    padding: 2rem;
    height: fit-content;
    background-color: #a74967;
    margin-right: 4rem;
    gap: 3rem;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .3);;
}

.formReceita{
    color: white;
    text-align: center;
}

.cadastrarReceita input{
    font-size: 3rem;
    
}

#passoAPasso{
    height: 30rem;
    
}

.btnDeletar{
    font-family: 'Comfortaa';
    padding: 2rem;
   margin-left: 25rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(136, 51, 51);
    color: white;
}
.text{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.containerReceitas{
    display: flex;
    padding: 1.5rem;
}

table {
    width: 40%;
    border-radius: 15px;
    box-shadow: -6px 6px 4px #8888;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(248, 248, 248);
}

th{
    width: 40%;
    color: var(--lightBlue);
    padding: 1rem;
}

tr{
    width: 40%; 
}

#receita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.receita p{
    font-size: 2rem;
    font-family: 'Comfortaa';
}

.receita{
    background-color: #41337a;
    border-radius: 15px;
    height: fit-content;
    gap: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}