@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


:root{
    --rosa: #fdedf2;
    --rosaEscuro: #a74967;
    --roxo: #41337a;
    --verdeClaro:#91D9E2 ;
    --verde:#43919c;
    --roxoClaro:#9C95DC;
}

::selection {
    background: var(--roxoClaro);
  }


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background-color: var(--rosa);
    font-family: 'Comfortaa';
}

.sidenav {
    height: 100%; 
    width: 12%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: var(--roxoClaro);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .sidenav p {
    padding: 2rem;
    font-size: 2rem;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    font-size: 2.5rem;     
  }

  .navbar li{
    padding: 2rem;
  }

  .navbar a{
    text-decoration: none;
    color: var(--roxo);
  }
 
  .navbar a:hover{
    color: var(--rosaEscuro);
  }
  
  /* fim da navbar */
  
  .container {
    width: 88%;
    height:100%;
    margin-left: 12%;
    overflow-y: scroll;
  }

  .boasVindas{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 7rem;
    padding: 2rem;
    font-family:'Sacramento';
  }
  
  .introducao{
    width: 100%;
    height: fit-content;
    background-color: #43919c;
  }

  .receitas{
    width: 100%;
    height: fit-content;
    background-color: #91D9E2;
  }
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}