@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root{
    --rosa: #f0b4c7;
    --rosaEscuro: #a74967;
    --roxo: #41337a;
    --verdeClaro:#91D9E2 ;
    --verde:#43919c;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear; 
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    background-image: url("../assets/img/imgBack.jpg");
    background-size: cover; 
  }

.voltar {
    border-style: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: var(--roxo);
    padding: 0.3rem 2rem ;
    margin: 1rem;
    font-family: 'Comfortaa';
    font-size: 1.2rem;
    color: var(--verdeClaro);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);    
}

.voltar img{
    width: 40px;
    padding: 0;
    margin: 0;
}



.voltar:hover  {
    color: var(--rosa);
    background-color: var(--verde);
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* formulario cadastro */
.container .form {
    border-radius: 5px;
    height: fit-content;
    width: 45%;
    background-color: rgba(65, 51, 122, .93);
    margin: 2rem;
    margin-top: 0 ;
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.container .form .costura {
    border-style: dashed;
    border-color: var(--rosa);
    height: fit-content;
    width: 70%;
    margin: 2rem;
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Sacramento';
    font-size: 4rem;
    color: var(--verdeClaro);
   margin-top: 1rem;
}
.logo img{
    width: 5rem;
}


.titulo{
    font-family: 'Comfortaa';
    font-size: 2rem;
    color: var(--rosa);
    margin-bottom: 0.5rem;    
}

.dados{
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    color: var(--rosa);
    margin: 0.3em;
}

.costura input{
    width: 25rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align:center;
    margin-bottom: 1rem;
}

 .costura select{
    width: 25rem;
    height: 2rem;
    font-size: 1.2rem;
    font-family: 'Comfortaa';
    border-radius: 5px;
    text-align:center;
    margin-bottom: 1rem;
}


button{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--rosaEscuro);
    font-family: 'Comfortaa';
    font-size: 1.2rem;
    color: var(--rosa);
    cursor: pointer;
}

button:hover{
    background-color: var(--verdeClaro);
    color: var(--rosaEscuro);
    cursor: pointer;
}
